#TabsToolbar {
    visibility: collapse !important;
    margin-bottom: 21px !important;
}


#TabsToolbar { visibility: collapse !important; } /* Hide Firefox's default tab bar. */

#sidebar-header {
    display: none;
}
#sidebar-splitter {
    width: 0 !important;
}
