xmonad-x86_64-linux
xmonad.errors
xmonad.state
machine_base/ssh/.ssh/*
!machine_base/ssh/.ssh/config
!machine_base/ssh/.ssh/config.d
id_rsa*
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/.gitignore
!emacs/.emacs.d/elisp/
!emacs/.emacs.d/elisp/*
