[user]
	name = Tim Helmstedt
	email = tim.helmstedt@gmail.com
[github]
	user = thelmstedt
[alias]
	# flavours of commit
	c = commit
	cm = commit -m
	cma = commit -a -m
	ammend = commit -a --amend -C HEAD
	
	# shortcuts for commands
	s = status --short
	
	d = diff
	a = add
	co = checkout
	b = branch

	ri = rebase -i
		
	p = pull
	pr = pull --rebase 
	recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    pushf = push --force-with-lease
	lastweek = shortlog --since '1 weeks ago'
	
[color]
	ui = auto
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[diff "bz2"]
  binary = true
  textconv = /bin/bzcat
[diff "gzip"]
  binary = true
  textconv = /bin/zcat
[diff "tar"]
  binary = true
  textconv = tar --to-stdout -xf 
[diff "tar-bz2"]
  binary = true
  textconv = tar --to-stdout -xjf
[diff "zip"]
  binary = true
  textconv = unzip -p

[core]
  attributesFile = ~/.gitattributes

[rerere]
	enabled = true
[pull]
	rebase = true

[rebase]
    instructionFormat = %s [%an]
