[user]
	name = Tim Helmstedt
	email = tim.helmstedt@gmail.com

[github]
	user = thelmstedt

[alias]


	# flavours of commit
	c = commit
	cm = commit -m
	cma = commit -a -m
	ammend = commit -a --amend -C HEAD
	amend = commit -a --amend -C HEAD


	
	s = status --short
	d = diff
	a = add
	co = checkout
	b = branch

	ri = rebase -i
		
	p = pull
	pr = pull --rebase 
	recentl = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

    recent = "!git-recent.sh"
    r = recent
    pushf = push --force-with-lease
        
	lastweek = shortlog --since '1 weeks ago'
	

[color]
	ui = auto

[credential]
	helper = cache --timeout=3600

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta

[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[diff "bz2"]
  binary = true
  textconv = /bin/bzcat

[diff "gzip"]
  binary = true
  textconv = /bin/zcat

[diff "tar"]
  binary = true
  textconv = tar --to-stdout -xf 

[diff "tar-bz2"]
  binary = true
  textconv = tar --to-stdout -xjf

[diff "zip"]
  binary = true
  textconv = unzip -p

[core]
  attributesFile = ~/.gitattributes

[rerere]
	enabled = true

[pull]
	rebase = true

[rebase]
    instructionFormat = %s [%an]

[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false


[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    features = side-by-side linenumbers decorations

[interactive]
    diffFilter = delta --color-only
